body {
    background-color:#00FFD1;
}
hr{
    border-style: dotted none none;
    border-width: 10px;
    border-color: grey;
    width: 30%;
    }
img {
    height: 200px;
}
h1{
    color: #001253;
}
h3{
    color: #7B2869;
}